<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.qd04.dao.ApplyDao">

	<!-- 지원서 등록 -->
	<insert id="mtdRegProc" parameterType="java.util.Map">
	
		insert into applyList 
		(userName, userPhone, applyPart, applyMotive)
		values
		(#{userName}, #{userPhone}, #{applyPart}, #{applyMotive})
	
	</insert>
		
	<!-- 지원서 목록 -->
	<select id="mtdList" resultType="com.qd04.dto.ApplyDto">
		select * from applyList order by num desc
	</select>	
		
	<!-- 지원서 상세보기(= 뷰 보기) -->
	<select id="mtdView" resultType="com.qd04.dto.ApplyDto">
		select * from applyList where num=#{param1}
	</select>		
	
	
	<!-- 지원서 수정 -->
	<update id="mtdModProc" parameterType="java.util.Map">
	
		update applyList set  
		userPhone=#{userPhone},
		applyPart=#{applyPart}, 
		applyMotive=#{applyMotive}
		where
		num=#{numParam}
	
	</update>
	

</mapper>	




